<%- include('../layouts/header.ejs') -%>

<%- include('../layouts/loginheader.ejs') -%>

<!-- Title page -->
<!-- <section class="bg-img1 txt-center p-lr-15 p-tb-50" style="background-color:rgba(128, 0, 0, 0.521);">
    <h2 class="ltext-105 cl0 txt-center">
        User Login
    </h2>
</section>	 -->


<!-- Content page -->
<section class="bg0 p-t-50 p-b-116">
    <div class="container" style="height: 100vh;">
        <div class="flex-w flex-tr" style="display: flex; justify-content: center; align-items: center; margin: auto;">
            <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md" style="background-color: rgba(209, 184, 184, 0.664); margin-top: 10%;">

                <form action="/login" method="post">
                    <h4 class="mtext-105 cl2 txt-center p-b-30">
                        Login to Your Account
                    </h4>

                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="email" name="email" placeholder="Enter Email Address" required>
                    </div>

                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="password" name="password" placeholder="Enter Password" required>
                    </div>

                    <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer" type="submit" value="Login">
                        Submit
                    </button>
                </form>

            </div>

            <div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
                
                <div class="flex-w w-full p-b-42">

                    <div class="size-212 p-t-2">
                        <button class="mtext-110 cl2">
                            <a href="/register" style="color:maroon">New User Sign Up</a>
                        </button>

                    </div>
                </div>
                
                <div class="flex-w w-full p-b-42">

                    <div class="size-212 p-t-2">
                        <button class="mtext-110 cl2">
                            <a href="/forget" style="color:maroon">Forget Password</a>
                        </button>

                    </div>
                </div>

                <div class="flex-w w-full p-b-42">

                    <div class="size-212 p-t-2">
                        <button class="mtext-110 cl2">
                            <a href="/verification" style="color:maroon">Verify Email</a>
                        </button>

                    </div>
                </div>

                <!-- <div class="flex-w w-full">

                    <div class="size-212 p-t-2">
                        <button class="mtext-110 cl2">
                            <a href="/admin" style="color:maroon">Admin Login</a>
                        </button>

                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>	




<%- include('../layouts/userfooter.ejs') -%>

<%- include('../layouts/footer.ejs') -%>