<%- include('../layouts/header.ejs') -%>

<%- include('../layouts/userheader.ejs') -%>

<section class="bg0 p-t-0 p-b-150">
    <div class="container" style="height: 100vh;">
        <div class="flex-w flex-tr" style="display: flex; justify-content: center; align-items: center; margin: auto;">
            <div class="size-210 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md bor21" style="margin-top: 10%;background-color: whitesmoke;">

                <div class="content">
                    <div class="wrapper-1">
                      <div class="wrapper-2 text-center m-b-80">
                        <h1 class="cl2 ltext-105">Thank you !</h1>
                        <br>
                        <h4 class="cl2">Your Order has been Confirmed</h4>
                      </div>
                      <a href="/products" class="stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-20 p-tb-10 trans-04 pointer" style="margin-left:30%;margin-right:15%;">
                        Keep Shopping
                      </a>

                      <!-- <a href="/invoice" class="stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-20 p-tb-10 trans-04 pointer m-l-170">
                        View Your Invoice
                      </a> -->
                      <!-- <a href="/invoice" target="_blank">Download Invoice</a> -->
                      <div class="footer-like p-t-50 text-center">
                        <p>Email not received?
                         <a href="#">Click here to send again</a>
                        </p>
                      </div>
                  </div>
                  </div>



            </div>
        </div>
    </div>
</section>











<%- include('../layouts/userfooter.ejs') -%>

<%- include('../layouts/footer.ejs') -%>


